* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.title1 {

  background-color: var(--color-primary2);
  position: fixed;
  top: 0;
  justify-content:center;
  height: auto;
  margin: 0;
  display: flex;

  width:20%;
  opacity: 70%;

  justify-content: space-evenly;
}
